# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea/
dist/
*.pyc
*.DS_Store
.vscode/
apiserver.local.config/
hack/configs/.env
test/e2e/report.xml
.markdownlint.json
coverage.txt
